<div class="container justify-content-center mt-3" style="width: 50%;">
  <div class="card" >
    <div class="card-header text-white bg-primary">
      Regex Checker
    </div>
    <div class="card-body">
      <form  ngNativeValidate>
        
        <div class="row">
          <div class="col-3">
            <label for="">Classifier</label>
          </div>
          
          <div class="col-9">
            <select class="form-select" name="entity" [(ngModel)]="selectedEntity"  required> 
              <option value="undefined" selected>Select Classifier</option>
              <option [ngValue]="cls"  *ngFor="let cls of classifier">{{cls.Entity}}</option>
            </select>
          </div>
        </div><br>


        <div class="row" *ngIf="hidden">
          <div class="col-3" >
            <label for="" >Classifier RegEx</label>
          </div>
          <div class="col-9">
            <input type="tel" name="regex"  class="form-control"    placeholder="{{this.reg}}">
          </div>
        </div><br>

        <div class="row">
          <div class="col-3">
            <label for="">Sample Data</label>
          </div>
          <div class="col-9">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Sample Data" name="inputData" [(ngModel)]="Data" required>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-3">
            <label for="">Result</label>
          </div>
          <div class="col-9">
            <label style="color: green;">{{this.result}}</label><br>
            <label style="color: red;">{{this.failed}}</label><br>
            <label style="color: red;">{{this.failedData}}</label>
          </div>
        </div><br>

        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-9">
            <button type="reset" class="btn btn-primary">Reset</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-success" (click)="testRegex()">Submit</button>
          </div>
        </div>

      </form>
    </div>
  </div>




  <div class="card mt-3 mb-3">
    <div class="card-header text-white bg-dark">
      Regex Matcher
    </div>
    <div class="card-body">
      <form action="">
        <div class="row">
          <div class="col-3">
            <label for="">Sample Regex</label>
          </div>
          <div class="col-9">
            <div class="input-group mb-3">
              <input type="text" class="form-control"  name="sampleRegex" [(ngModel)]="sampleRegex" placeholder="Sample Regex">
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-3">
            Result
          </div>
          <div class="col-9">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let entity of resultEntities">
                  <td >
                    <label for="" style="color: green;" >{{ entity }}</label>
                    <label for="" style="color: red;" *ngIf="!resultEntities.length">No Results</label>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div><br>

        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-9">
            <button type="reset" class="btn btn-primary">Reset</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-success" (click)="resultEntity()">Submit</button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>


